snippet st "strong"
<strong>$1</strong>
endsnippet

snippet vim "vim"
\`\`\`vim
$1
\`\`\`
endsnippet

snippet bash "bash"
\`\`\`bash
$1
\`\`\`
endsnippet
snippet python "python"
\`\`\`python
$1
\`\`\`
endsnippet
snippet html "html"
\`\`\`html
$1
\`\`\`
endsnippet
