snippet ust "useState" b
const [${1:state}, set${2:method}] = useState(${3:initialValue});
endsnippet

snippet rdf "react default function" b
export default function $1(){
  return (
$2
  )
}
endsnippet
